body {
  margin: 20px;
  background-color: black;
}

.outer {
  margin-bottom: 40px;
  background-color: #308dc0;
  border: 1px solid #e95d49;
  width: 348px;
}

.middle {
  box-sizing: border-box;
  background-color: #ffa500;
  border: 1px solid #e95d49;
  margin: 10px;
}

.inner {
  box-sizing: border-box;
  margin: 10px;
  background-color: #ddd;
  padding: 10px;
  border: 1px solid #e95d49;
}
